{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "namespace": "ltco",
        "displayName": true,
        "preprocess": false,
        "meaninglessFileNames": ["index", "styles"]
      }
    ]
  ]
}
